<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <section class="flex items-center justify-center h-screen">
            <div class="flex flex-col space-y-4">
                <p>Upload AWS Demo</p>
                <input type="file" class="file-input w-full max-w-xs" @change="fileChange" />
                <div v-if="progress !== 0" class="flex justify-center">
                    <!-- <span class="loading loading-spinner text-primary"></span> -->
                    <div class="radial-progress bg-primary text-primary-content border-4 border-primary"
                        :style="{
                            '--value': progress
                        }"
                        role="progressbar">{{ progress }}%</div>
                </div>
                <button class="btn btn-primary" @click="upload" :disabled="uploading">Upload</button>
                <div class="toast toast-top toast-center" v-if="success ?? error">
                    <div class="alert" :class="{
                        'alert-warning': error,
                        'alert-success': success
                    }">
                        <span>{{ success ?? error }}</span>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        const { createApp, ref } = Vue

        const api = axios.create({
            baseURL: 'http://localhost:3000',
        })

        createApp({
            setup() {
                const uploading = ref(false)
                const formData = ref(null)
                const error = ref(null)
                const success = ref(null)
                const progress = ref(0)

                function fileChange(event) {
                    const file = event.target.files[0]
                    const data = new FormData()
                    data.append('upload', file)
                    formData.value = data
                }

                async function upload() {
                    try {
                        success.value = null
                        error.value = null
                        uploading.value = true
                        progress.value = 0

                        const response = await api.post('/upload', formData.value, {
                            headers: {
                                'Content-Type': 'multipart/form-data',
                            },
                            onUploadProgress: (progressEvent) => {
                                progress.value = Math.round((progressEvent.loaded / progressEvent.total) * 100)
                            },
                        })
                        success.value = response.data.message
                    } catch (err) {
                        error.value = err?.response?.data?.message || err.message
                    } finally {
                        uploading.value = false
                        formData.value = null
                    }
                }

                return {
                    upload,
                    uploading,
                    fileChange,
                    error,
                    success,
                    progress,
                }
            }
        }).mount('#app')
    </script>
</body>

</html>